<div class="row">
    <div class="col-12">
        <div class="form-container animate__animated animate__fadeInLeft">
            <form #f="ngForm" (ngSubmit)="ingresar(f)" class="form-login border border-primary">
                <h1 class="text-center">Login</h1>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Correo" [(ngModel)]="usuario.email" required email>
                    <span *ngIf="f.submitted && f.controls.email.errors" class="text-danger ml-1">
                        <small class="animate__animated animate__fadeIn">El correo es obligatorio</small>
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="usuario.password" required>
                    <span *ngIf="f.submitted && f.controls.password.errors" class="text-danger ml-1">
                        <small class="animate__animated animate__fadeIn">La contraseña debe tener almenos 6 caracteres</small>
                    </span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="recordarClave" class="form-check-input" id="exampleCheck1" [(ngModel)]="recordarClave">
                    <label class="form-check-label" for="exampleCheck1">Recordar usuario</label>
                </div>
                <div class="text-center m-4">
                    <small>
                        <a class="text-white" routerLink="/registro">¿No tienes cuenta? / Registrarse</a>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </form>
        </div>
    </div>
</div>