.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-login {
    width: 35%;
    border-radius: 10px;
    padding: 25px;
    color: white;
    background-color: rgba(41, 128, 185, 0.6);
}

.form-login h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.form-login input {
    background-color: transparent;
}

input::placeholder {
    color: white;
}